__pycache__/
*.pyc
*.pyo
*.db
*.sqlite3
*.log
node_modules/
venv/
dist/
build/
*.egg-info/
*.egg
*.whl
.ipynb_checkpoints/
.Python
.vscode/
.idea/
.cached/
.cache/
*.swp
*~.nfs*
*.bak
*.tmp
generated/
